# System Files #
################
.DS_Store

# IDE Metadata #
####################
.classpath
.project
.settings
.idea/
*.iml

# Editor Temporary #
####################
*.swp

# Python #
##########
__pycache__

# Data #
########
data/psl-data
data/rgb-images
data/videos
data/instance_counts.json
data/requirements_readable.txt
data/road_trainval_v1.0.json
data/videos.zip

# Models #
##########
*.pt

# Experiment Output #
#####################
*-learned.psl
*.jar
out*.txt
out*.err
inferred-predicates/
results/
results.json
